<div class="contenedor-espacios">
  <header class="cabecera">
    <h2>Espacios Disponibles</h2>
    <button *ngIf="puedeEditar()" class="btn-primario">
      + Crear Nuevo Espacio
    </button>
  </header>

  <p *ngIf="cargando()">Cargando espacios...</p>
  <p *ngIf="errorMensaje()" class="error-auth">{{ errorMensaje() }}</p>

  <div class="grid-espacios" *ngIf="!cargando() && !errorMensaje()">
    <div class="tarjeta-espacio" *ngFor="let espacio of listaEspacios()">
      <h3>{{ espacio.nombre_espacio }}</h3>
      <p class="capacidad"><strong>Capacidad:</strong> {{ espacio.capacidad_maxima }} personas</p>

      <div class="acciones" *ngIf="puedeEditar()">
        <button class="btn-secundario">Editar</button>
        <button class="btn-peligro">Eliminar</button>
      </div>
    </div>
  </div>
</div>